/* ------ Map --------- */
			#map {position:relative;height:100%;} /*padding-left:200px;}*/
			#map_wrapper {margin: 0px 0px 0px 0px;position:relative;height:100%;}
			#markers {min-height:60px}
			.POI-active {font-weight: bold;color:#ff0000}
			.info {padding: 6px 8px;font: 14px/16px Arial, Helvetica, sans-serif;background: white;background: rgba(255,255,255,0.8);box-shadow: 0 0 15px rgba (0,0,0,0.2);border-radius: 5px;height:200px;width:200px;}
			.info h4 {margin: 0 0 5px;color: #777;text-align: center}
			.marker_icon {position:absolute;}
			.marker_label {position:absolute; white-space:nowrap;z-index:2;top: 5px;width:auto;background: white;background: rgba(255,255,255,0.8);box-shadow: 0 0 15px rgba (0,0,0,0.2);border-radius: 2px;padding:2px 5px 2px 5px}
			.dragIcon {position:absolute};			
/* 			.leaflet-container {background: #D4E1FF !important}; */