body {position:absolute;height:100%;width:100%;margin:0;}

#header {position:absolute;z-index:10;top:0;right:0;left:0;height:50px;}

#section {position:absolute;z-index:1;top:50px;right:0;bottom:0;left:0;}

#footer {}

/* header */

	#breadcrumb {display:inline-block;height:50px;max-width:60%;}
	#breadcrumb ul {margin:0;padding:0;}
	#breadcrumb li {display: block;float:left;margin:0 5px;}
	#menu {display:inline-block;height:50px;min-width:20%;}
	#menu .button {float:left;}
	#user {position:absolute;top:0;right:0;bottom:0;width:20%;}

/* section */

	#aside {position:absolute;top:0;left:0;z-index:10;}
	#aside.row {right:0;height:120px;overflow-x:auto;}
	#aside.col {bottom:0;width:200px;overflow-y:auto;}

	#content {position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;}
	#content.row {top:120px;}
	#content.col {left:200px;}

	#flash {position:absolute;top:75px;right:25px;left:25px;height:50px;}

	/* aside */

		#trip {position:relative;overflow:hidden;}
		#trip .date {position:absolute;z-index:-1;padding:5%;}
		#trip .event {position:absolute;}
		#trip .event p {margin:10px 15px;}
		#trip .event .resizer {position:absolute;z-index:1;display:none;}
		#trip .event .eraser {position:absolute;top:-10px;left:-10px;height:20px;width:20px;z-index:10;display:none;text-align:center;line-height:20px;}
		#trip .event:hover .resizer {display:block;}
		#trip .event:hover .eraser {display:block;}
		#trip .night {position:absolute;height:40px;width:40px;z-index:10;}
		/* horizontal trip */
			#aside.row #trip {height:100%;}
			#aside.row #trip .date {height:90%;}
			#aside.row #trip .event {height:90%;min-width:9px;margin:5% 0;}
			#aside.row #trip .event .resizer {top:0;height:100%;width:8px;}
			#aside.row #trip .event .top {left:0;}
			#aside.row #trip .event .down {right:0;}
			#aside.row #trip .night {bottom:5px;}
		/* vertical trip */
			#aside.col #trip {width:100%;}
			#aside.col #trip .date {width:90%;}
			#aside.col #trip .event {min-height:9px;width:90%;margin:0 5%;}
			#aside.col #trip .event .resizer {left:0;height:8px;width:100%;}
			#aside.col #trip .event .top {top:0;}
			#aside.col #trip .event .down {bottom:0;}
			#aside.col #trip .night {right:5px;}

	/* content */

		#left {position:absolute;top:0;bottom:0;left:0;width:33%;z-index:10;overflow:hidden;}
		#left #guide {position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;}
		#guide .title {text-align:center;font-size:large;}
		#guide .zoneList {margin:8px auto auto auto;}
		#guide li {}
		#guide li:hover {font-weight: bold}
		#guide .hover {font-weight: bold}
		#left #time_panel {position:absolute;top:0;bottom:0;left:-200px;width:200px;z-index:10;}

		#right {position:absolute;top:0;right:0;bottom:0;width:67%;z-index:1;overflow:hidden;}
		#right #map {}
		#right #user_panel {position:absolute;top:0;right:-200px;bottom:0;width:200px;}
		#right #user_panel .tab {position:absolute;top:0;right:0;bottom:0;left:0;}
		#right #user_panel .tab .nav {position:absolute;left:-20px;height:60px;width:20px;}
		#right #user_panel .n0 .nav {top:0;}
		#right #user_panel .n1 .nav {top:60px;}