#header {background-color:#000;box-shadow:0 0 10px 0 #222;}

/* header */

	#breadcrumb a, #breadcrumb span {font-size:30px;color:white;font-family: myriad pro;line-height:50px;text-decoration:none;}
	#menu .button {background:white;border-radius:3px;}
	#user label {display:none;}
	#user input {float:left;}
	#user p {color:#FFF;}

/* section */

	#aside {background-color:#CCC;box-shadow:0 0 10px 0 #222;}

	#flash {background-color:#FFF;box-shadow:0 0 10px 0 #222;}

	/* aside */

		#trip {}
		#trip .event {color:#FFF;border-radius:5px;border:1px solid;}
		#trip .event .resizer {background-color:#666;}
		#trip .event .eraser {color:#CCC;background-color:#FFF;border-radius:10px;}
		#trip .move {}
		#trip .tour {background-color:#999;}
		#trip .selected {background-color:#000;}
		#trip .night {background-color:#FFF;color:#FFF;border-radius:20px;}
		#trip .selected .night {background-color:#000;}
		/* horizontal trip */
			#aside.row #trip .date {border-left:1px solid #FFF;}
			#aside.row #trip .block .resizer {cursor:col-resize;}
			#aside.row #trip .block .top {border-radius:0 5px 5px 0;}
			#aside.row #trip .block .down {border-radius:5px 0 0 5px;}
		/* vertical trip */
			#aside.col #trip .date {border-top:1px solid #FFF;}
			#aside.col #trip .block .resizer {cursor:row-resize;}
			#aside.col #trip .block .top {border-radius:5px 5px 0 0;}
			#aside.col #trip .block .down {border-radius:0 0 5px 5px;}

	/* content */

		#left {background-color:#FFF;box-shadow:0 0 10px 0 #222;}
		#left #time_panel {background-color:#EEE;box-shadow:0 0 10px 0 #222;}

		#right {}
		#right #user_panel .tab {background-color:#FFF;border-left:1px #CCC solid;}
		#right #user_panel .tab .nav {background-color:#FFF;border-top:1px #CCC solid;border-bottom:1px #CCC solid;border-left:1px #CCC solid;}